*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/background\ image.png);
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
}

a{
        text-decoration: none;
        margin: 22px;
       
    }

.nav{
    padding: 18px 80px;
    background-color: rgb(0, 110, 255,0.3);
    text-align: end;
    font-size: 13pt;
}

.heading{
    
    font-size: 50pt;
    text-align: center;
    margin: 8% auto 3%;
    padding: 0 35%;
}

.bio{
    font-size: 18pt;
    text-align: center;
    margin: 0 auto ;
    padding: 0 33%;
}

button{
    width: 110px;
    height: 50px;
    background-color:rgb(0, 89, 255);
    margin: 5% 45%;   
    border: none;
    font-size: 13pt;
    border-radius: 10px;
}

.footer{
    background-color: rgba(230, 230, 230, 0.3);   /* light gray */
    padding: 30px;
    margin-top: 47px;
    text-align: center;
}